@model VehicleSellingProject.WebApplication.Models.SellingInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SellingInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyerTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyerTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingBranch.BAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
